*{

    margin: 0;
    padding: 0;

}


.container{

    width: 1140px;
    margin: 0 auto;
}


ul li{
    list-style: none;
    text-decoration: none;
}


a{

    text-decoration: none;
}

.title {

    text-align: center;
}

.title p{

    font-size: 11px;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 5px;
}

.title h2{

    color: #fff;
    font-size: 35px;
    font-family: 'Outfit', sans-serif;
}

.title h2{

    
}

button:hover{

    cursor: pointer;
}




/* header-part start */

body{

    position: relative;
    z-index: 1000;
    
}



#header-part{
    
    background: rgb(91, 89, 89);
    padding: 34px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    background: transparent;
    
   
}

/* 

#header-part.slidedown{
    
    background: red;
    padding: 34px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    animation: slidedown .4s forwards;
    background: transparent;  
}

@keyframes  header-part{
    
    from{
        top: -250px;
    }

    to{
        top: 0;

    }


} */









body{

    position: relative;
}


.header{
    
    
    padding: 34px 0;
    position: absolute;
    top: -106px;
    left: 0;
    width: 100%; 
    opacity: 0;
    background: red;
   
}





.header .menu .menuitem ul li{

    display: inline-block;
}



.header .menu .menuitem ul li a {
    color: white;
    font-size: 13px;
    transition: .4s;
    margin-left: 1.5rem;
}
 




.header .items{

    margin-top: 9px;
    display: flex;
    justify-content: space-between;
}

.header .logo{
    width: 20%;
    
}


.header .logo img{

    height: 20px;
    width: 130px;

}




.header .menu{

    width: 80%;
}

.header .menu .menuitem{
    text-align: right;
}


.header .menu .menuitem ul{

    margin-right: 190px;
}

.header .menu .menuitem ul li a{

    color: white;
    font-size: 13px;
    transition: .4s;
}

.header .menu .menuitem ul li a:hover{

    color: #f5b754;
}

.header .menu .menuitem .home a{

    color: ;
}


.header .menu .menuitem .home .dropdown a{

    color: white;
}


.header .menu .menuitem .home .dropdown a:hover{

    color: #f5b754;
}






    .header .menu .phone {
        margin-top: -31px;
        margin-right: 54px;
    }


    .header .menu .phone h3{

        margin-right: -30px;
        margin-top: -13px;

    }
    


.header .menu .phone i{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    border: 1px solid #f5b754;
    line-height: 50px;
    text-align: center;
    margin-right: 65px;
    transition: .4s;
}


.header .menu .phone i:hover{

    color: black;
    background: #f5b754;
}






.header .menu .phone h4{
    margin-top: -50px;
    margin-right: -16px;
    color: white;
    font-size: 13px;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;

}


.header .menu .phone h3{
    
    margin-right: -52px;
    color: white;
    font-size: 17px;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    transition: .5s;

}


.header .menu .phone h3:hover{

    color: #f5b754;
}




























#header-part .items{

    margin-top: 9px;
    display: flex;
    justify-content: space-between;
}

#header-part .logo {
  width: 20%;
  margin-left: -3rem;
}

#header-part .logo img {
  height: 2rem;
  width: 8rem;
  margin-left: 3rem;
  background: red;
  padding: 2rem 1rem;
  margin-top: -2.7rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


#header-part .menu{

    width: 80%;
}

#header-part .menu .menuitem{
    text-align: right;
}

#header-part .menu .menuitem ul {
  margin-right: 28rem;
  margin-top: 8px;
}

#header-part .menu .menuitem ul li a{

    color: white;
    font-size: 15px;
    transition: .4s;
}

#header-part .menu .menuitem ul li a:hover{

    color: red
}

#header-part .menu .menuitem .home a{

    color: 
}


#header-part .menu .menuitem .home .dropdown a{

    color: white;
    font-size: 15px;

}


#header-part .menu .menuitem .home .dropdown a:hover{

    color: red;
}






    #header-part .menu .phone {
        margin-top: -42px;
        margin-right: 54px;
    }


    #header-part .menu .phone h3{

        margin-right: -30px;
        margin-top: -13px;

    }
    


#header-part .menu .phone i{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    border: 1px solid red;
    line-height: 50px;
    text-align: center;
    margin-right: 65px;
    transition: .4s;
}


#header-part .menu .phone i:hover{

    color: #fff;
    background: red;
}






#header-part .menu .phone h4{
    margin-top: -50px;
    margin-right: -16px;
    color: white;
    font-size: 13px;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;

}


#header-part .menu .phone h3{
    
    margin-right: -52px;
    color: white;
    font-size: 17px;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    transition: .5s;

}


#header-part .menu .phone h3:hover{

    color: #f5b754;
}

ul li ul.dropdown li{

    display: block;
    margin-top: 20px;
}

ul li ul.dropdown li a{

    color: white;
}

#header-part .menu .menuitem ul li{

    display: inline-block;
    margin-left: 4rem;
    margin-bottom: 10px;
    font-family: 'Outfit', sans-serif;
    position: relative;
}

ul li ul.dropdown{
    position: absolute;
    top: 50px;
    left: 0;
    width: 215px;
    height: 110px;
    background: #222;
    border-radius: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
    text-align: left;
}

ul li:hover ul.dropdown, 
ul li ul.dropdown:hover {
    opacity: 1;
    visibility: visible;
    
}

ul li ul.dropdown a{

    transition: .4s;
}

ul li ul.dropdown a:hover{

    background: none;
    margin-left: 3px;
    height: 100%;
    width: 100%;
    z-index: 1000;
}


/* mobile menu */

#header-part .menu .mobile-menu{

    
    font-size: 2rem;
    float: right;
    margin-top: -32px;
    color: white;
    display: none;
}


#header-part .menu .mobile-menu span:hover{

    
    cursor: pointer;
}








/* header-part end */







/* sliderimage part start */

#slider-image .sliderimg{

    width: 100%;
    
}

#slider-image .sliderimg img{

    height: 690px;
    width: 100%;
}

#slider-image{

    position: relative;
    
}

#slider-image .desc {
  position: absolute;
  margin-top: 16rem;
  z-index: 999;
  margin-left: 20rem;
  text-align: center;
}

#slider-image .desc span{

    color: ;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

#slider-image .desc h2{

    font-size: 90px;
    font-weight: bold;
    color: white;
    font-family: 'Outfit', sans-serif;

}


#slider-image .desc p{

    font-size: 15px;
    margin-top: 10px;
    color: white;
    font-family: 'Outfit', sans-serif;

}


#slider-image .desc p span{

    letter-spacing: none;
    margin-left: 20px;
}


#slider-image .desc button{

    margin-top: 30px;
    padding: 20px 35px;
    font-family: 'Outfit', sans-serif;
    margin-right: 10px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: .5s;
}

#slider-image .desc button:hover{

    margin-top: -10px;
    background: red;
    color: #222;
    border: 1px solid red;
}





#slider-image .desc .left{

    background: red;
    border: 1px solid red;
    color: #fff;
    transition: .4s;
}


#slider-image .desc .left:hover{

    background: #fff;
    color: #222;
    margin-top: 20px;
}


#slider-image .desc .left:hover{

    margin-top: -10px;
}






body{

    position: relative;
}



.overlays{

    width: 100%;
    height: 10px;
    background: rgb(0, 0, 0, .5);
    padding: 340px 0;
    position: absolute;
    top: 0;
    left: 0;
}


.slick-dots{

    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 16px 0;
    list-style: none;
    bottom: 40px;

}


.slick-dots li{

    margin: 0 0.25rem;
    background: #fff;
    border-radius: 50%;
}


.slick-dots button{

    display: block;
    width: 16px;
    height: 16px;
    padding: 0;
    border-radius: 50%;
}


.slick-dots .slick-active button {
    background-color: ;
}


/* sliderimage part end */






/* contact part start */


#contact-part{

    height: 40rem;
    width: 100%;
    
}


#contact-part .box{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10rem;
}


#contact-part .box .one {
    height: 21rem;
    width: 17rem;
    background: transparent;
    border: 1px solid #999;
    border-radius: 7px;
    padding-bottom: 2rem;
}


#contact-part .box .upper i{

    font-size: 3rem;
    border-radius: 50%;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: .4s;
    color: red;
}



#contact-part .box .one h3{

    margin-top: -2rem;
}


#contact-part .box .one p{

    font-size: 13px;
    width: 15rem;
    
}



#contact-part .box .one p{

    margin: 10px 0;
    line-height: 1.5rem;
    letter-spacing: 1px;
    margin-left: 1.1rem;
}


#contact-part .box .one button{

    padding: 10px 20px;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    transition: .4s;
}


#contact-part .box .one button:hover{

    background: red;
    color: #fff;
}


#contact-part .box .one .icons{

    margin-top: 2rem;
}


#contact-part .box .one .icons i{

    background: #f1f1f1;
    padding: 10px;
    border-radius: 2px;
    transition: .4s;
}


#contact-part .box .one .icons i:hover{

    background: red;
}




/* contact part end */




/* commertial part start */

#commertial-part{
    height: 45rem;
    width: 100%;
    margin-top: 20rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 3.5rem;
}


#commertial-part h2{

    font-size: 3rem;
    
}



#commertial-part .box{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;margin-top: 4rem;
}



#commertial-part .one {
    height: 29rem;
    width: 22rem;
    background: #f1f1f1;
    border: 1px solid #999;
    border-radius: 7px;
    padding-bottom: 3rem;
    padding-left: 2rem;
}



#commertial-part .one h3{

    margin-top: 2rem;
    font-size: 3rem;
}

#commertial-part .one h3 span{

    font-size: 12px;
}


#commertial-part .one p{

    font-size: 13px;
    width: 15rem;
    
}



#commertial-part .one p{

    margin: 10px 0;
    line-height: 1.5rem;
    letter-spacing: 1px;
    margin-left: 3px
}


#commertial-part .one button{

    padding: 10px 20px;
    margin-top: 1rem;
    border-radius: 5px;
    background: #c6c5c5;
    border: none;
    letter-spacing: 1px;
    transition: .4s;
}


#commertial-part .one button:hover{

    background: red;
    color: #fff;
}



#commertial-part .one{

    transition: .4s;
}


#commertial-part .one h4:hover{

    color: red;
}




/* commertial part end */





/* big img part start */

#big-img{


    position: relative;
}



#big-img i{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 5rem;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 2rem 3rem;

}



/* big img part end */






/* footer css start */

#footer-part{

    height: 350px;
    width: 100%;
    background: #24292d;
    padding-top: 6rem;
    margin-top: 20rem;
    padding-bottom: 2rem;
}



#footer-part .items{

    width: 100%;
    display: grid;
  grid-template-columns: 40% 20% 40%;
}



#footer-part .items .one{

    height: 350px;
    margin-bottom: 2rem;
    
}

#footer-part .items .one .logo img{

    height: 45px;
    width: 137px;
    margin-bottom: 10px;
    
}

#footer-part .items .one p{

    color: #999;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    width: 383px;
    line-height: 1.5;
   

}


#footer-part .items .one .icons{

    margin-top: 20px;
}

#footer-part .items .one .icons i{
    background: transparent;
    border: 1px solid #999;
    color: #999;
    padding: 15px 15px;
    border-radius: 50%;
    margin-left: 5px;
    transition: .4s;

}


#footer-part .items .one .icons i:hover{

    color: #000;
    background: #fff;
}


#footer-part .items .two{

    height: 350px;
    
}


#footer-part .items .two h2{

    color: #999;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 15px;
    
}


#footer-part .items .two ul li{

    font-family: 'Outfit', sans-serif;
    color: #999;
    margin-top: 10px;
    list-style: none;
    margin-left: 20px;
    transition: .5s ease;
}


#footer-part .items .two ul li::before{

    content: "\2022";
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}


#footer-part .items .two ul li:hover{

    color: #fff;
}




#footer-part .items .three{

    height: 350px;
   
}


#footer-part .items .three h2{

    color: #999;
    font-family: 'Outfit', sans-serif;
    

}


#footer-part .items .three p{

    color: #999;
    font-size: 14px;
    line-height: 2;
    margin-top: 14px;
    margin-bottom: 20px;
    font-family: 'Outfit', sans-serif;

}



#footer-part .items .three button{

    padding: 10px 20px;
    width: 200px;
    border-radius: 40px;
    width: 450px;
    background: transparent;
    border: 1px solid #fff;
}

#footer-part .items .three button{

    position: relative;
}


#footer-part .items .three button a{

    margin-right: 280px;
    color: #999;
    position: absolute;
    top: 21px;
}


#footer-part .items .three button i{

    background: #999;
    padding: 15px 15px;
    border-radius: 50%;
    margin-top: -3px;
    margin-left: 377px;
    transform: rotate(-60deg);
    transition: .4s;

}

#footer-part .items .three button i:hover{

    transform: rotate(2deg);
    background: #fff;
    color: #222;
}




#footer-part .footline{

    height: 1px;
    width: 100%;
    background: #222;
    margin-top: -100px;
    margin-bottom: 20px;
}


#footer-part .end{

    color: #999;
    font-family: 'Outfit', sans-serif;
    font-size: 11px;
    z-index: 1;
    margin-top: 48px;

}


#footer-part p span{

    color: #fff;
    text-decoration: underline;
    text-decoration-color: #f5b754;
    font-family: 'Outfit', sans-serif;
    margin-top: 30px;


}

/* 
#progress{

    background: #f5b754;
    position: fixed;
    bottom: 20px;
    color: red;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    z-index: 9999;
    cursor: pointer;
    border-radius: 50%;
}


#process-value{

    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    
    color: #222;
}
 */
 html {
    scroll-behavior: smooth;
  }

 #progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  #progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
  }



/* footer css end */



.scroller_button button:hover{

    color: white;
    background: #1a1a1a;
}








body{

    position: relative;
   
}

.scroller_button{

    
    width: 100%;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 3;

}






.scroller_button button{
    position: relative;
    width: 40px;
    height: 40px;
    float: right;
    background: rgb(172, 150, 246);
    margin-top: -100px;
    margin-right: 20px;
    font-size: 20px;
    border: 3px solid rgb(245, 241, 241);
    border-radius: 50%;
    cursor: pointer;
    color: white;
    transition: .4s;
    transition: .4s;

}  



.wholeslide{

    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    display: none;
}



.overlays {
    width: 100%;
    height: 104px;
    background: rgb(0, 0, 0, .5);
    padding: 340px 0;
    position: absolute;
    top: 0;
    left: 0;
}

#slider-image .sliderimg img{

    height: 49rem;
    width: 100%;
} 




